:root {
  --background: #fafafa;
  --foreground: #1a1a1a;
  --header-background: var(--background);
  --header-border-bottom-color: #ddd;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
